



<div class="container">
  
<div class="row">
    <div class="col-xs-1 col-sm-2 col-md-2 col-ig-2">
        <img src="{{persona.img}}" class="rounded" class="img-fluid rounded-circle"  >
       
    </div>
    <div  class="col-xs-12 col-sm-2 col-md-2 col-ig-2">
 

     
           <h4>{{persona.nombre}}</h4> 
          
       <h4 >{{persona.apellido}}</h4> 
       <h4 >{{persona.titulo}}</h4> 
        
       
        <div *ngIf="isLogged">
            <button class="btn btn-light" routerLink="/editaracercade">
                <i class="bi bi-pencil-fill"></i>
               </button> 
        </div>
       
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-ig-8">
        <span>
            <h1>
                Acerca de mi
            </h1>
            <p >{{persona.acercaDe}}</p>
        </span>
    </div>
</div>

</div>
