<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="titulo"><h4>Titulo</h4></label>
                    <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="educacion.tituloEdu">
                </div>
               

                <div class="form-group">
                    <label for="dni"><h4>Fecha</h4></label>
                    <input type="text" class="form-control" id="fecha" name="fecha" [(ngModel)]="educacion.fechaEdu">
                </div>
                <div class="form-group">
                    <label for="apellido"><h4>Descripcion</h4></label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion"[(ngModel)]="educacion.descEdu">
                </div>

                <div class="form-group">
                    <label for="direccion"><h4>Imagen: </h4> </label>
                    <input type="text" class="form-control" id="imagen" name="imagen" [(ngModel)]="educacion.imagenEdu">
                </div>

              

               
                <button class="btn btn-primary">
                    Editar
                </button>
            </form>
        </div>
    </div>
</div>